<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>FullName</th>
        <th>Blood Group</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>profession</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    {% if  donor_list %}
        {% for donner in donor_list %}
            <tr>
                <td>{{ donner.get_full_name }}</td>
                <td>{{ donner.select_blood }}</td>
                <td>{{ donner.phone_number }}</td>
                <td>{{ donner.gender }}</td>
                <td>{{ donner.profession }}</td>
                <td><a href="#">Details</a></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
