{% extends 'index.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Send me instructions!">
                  </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
