{% extends 'index.html' %}

{% block title %} Add New Location {% endblock %}

{% block content %}

    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Location</li>
    </ol>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="message">
                        {% if messages %}
                            <div class="category_message">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {% for m in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12 text-right mb-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#exampleModalLong">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Location</th>
                            <th>Parent</th>
                            <th>Created date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if locations %}
                            {% for location in locations %}
                                <tr>
                                    <td>{{ location.id }}</td>
                                    <td>{{ location.name }}</td>
                                    <td>{{ location.parent }}</td>
                                    <td>{{ location.created }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-success btn-sm mr-1" href=""><i class="fa fa-pen"></i></a>
                                        <a class="btn btn-info btn-sm mr-1" href=""><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-danger btn-sm" href=""><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% include 'location/modal.html' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
